html{
    font-size: 20px;
}
body{
    background-image: url(/img/background@1X.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts{
    float: right;
}
.logo{
    color: white;
    float: left;
    width: 350px;
}
  a{text-decoration: none;
}
.logo:before{
    content: "";
    background-image: url(../img/logo@1X.png);
    width: 46px;
    height: 44px;
    display: inline-block;
    float: left;
}
.logo>div:first-child{
    font-size: 1.45rem;
}
.logo>div:last-child{
    font-size: 0.9rem;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
}
.container1{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.container2{
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
}
.container3{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.container4{
     margin-top: -18px;
    display: flex;
    justify-content: space-around;

}
#fin{
    margin-top: 50px;
    text-align: center;
    font-size: 0.7rem;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#f26522 ;
}
div{
    position: relative;
}
#a1,#a2,#a3,#a4,#a5,#a6{
    height: 63px;
    background-color: #f26522;
    margin-top: -68px;
    z-index: -1;
}
.a1:hover #a1{
    z-index: 1;
}
.a2:hover #a2{
    z-index: 1;
}
.a3:hover #a3{
    z-index: 1;
}
.a4:hover #a4{
    z-index: 1;
}
.a5:hover #a5{
    z-index: 1;
}
.a6:hover #a6{
    z-index: 1;
}
#a8{
    padding-left: 80px;
}
#a9{
    padding-right: 10px;
}
#a10{
    padding-right: 100px;
}